.main-bar
  .main-header
    .main-header__box
      .main-header__box__groupname
        test
      .main-header__box__membername
        Member name
    .main-header__box__edit
      .main-header__box__edit__one
        edit
  .main-home
    .main-zero
      .main-home__one
        .main-home__one__name
          name
        .main-home__one__time  
          2020/02/27
      .main-home__two
        おはよう！
  .main-footer
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{ class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type:"submit", class: "submit-btn"}