.side-bar
  .side-header
    .side-header__box
      .side-header__box__menu
        name
      .side-header__box__menu__icon
        =link_to "#",class:"contents__btn" do
          =icon('far', 'edit') 
        = link_to "#", class: "contents__gear" do
          = icon('fas', 'cog')
  .side-body
    techcamp
  .side-body-two
    まだメッセージがありません